<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signature</title>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://intredea.github.io/sketch.js/lib/sketch.min.js"></script>
    <script src="js/sketch.js"></script>
    <script src="js/sketch.min.js"></script>
    <script>
       
        $(function  () {
           $('#sketch').sketch();
            $(".digital a").eq(0).attr("style", "color:ddd");
            $(".digital a ").click(function () {
                $(".tools a").removeAttr("style");
                $(this).attr("style", "color:#000");

            });
            $("savebtn").bind("click", function () {
                var base64 = $('#sketch')[0].toDataURL();
                $("#imgc").attr("src", base64);
                $("#imgc").show();

            });
            
        })


    </script>

</head>

<body>
    <div class="digital">
        <a href="#sketch" data-tool="marker">marker</a>
        <a href="#sketch" data-tool="remover">remover</a>

        <br />
        <canvas id="#sketch" width="500" height="250"></canvas>
        <br />
        <input type="button" id="sigbtn">
    </div>







</body>

</html>